{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: Rs. {{item.total_cost_of_each_product}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Grand Total : Rs. {{total_amount}} + Shipping Fee (Rs. 70) = Rs. {{grand_total_amount}}</p>
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure
        optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="/payment-done" id="checkout-form">
        {% for info in customer_details %}
        <div class="card">
          <div class="card-body">
            <h5>{{info.name}}</h5>
            <p>{{info.locality}}, {{info.city}}, {{info.state}} - {{info.zipcode}}</p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="customer_id" id="customer_id{{forloop.counter}}"
            value="{{info.id}}">
          <label class="form-check-label fw-bold" for="customer_id{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <!-- <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button> -->
          <!-- Set up a container element for the button -->
          <div id="paypal-button-container"></div>
          <p id="result-message"></p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}

{% block paypal-integration %}
<!-- Include the PayPal JavaScript SDK -->
<script
  src="https://www.paypal.com/sdk/js?client-id=AWgZh6p00ejv7aG7iG6kNdrDaepnR-ZzW_RDNqCRNmnRJ-eQ8z6ew9QlhxnIlXgkkn8blVvjx3JcLfyf&currency=USD"
  data-sdk-integration-source="developer-studio"></script>

<script>
  paypal.Buttons({
    createOrder: function (data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{grand_total_amount}}' // Replace with your order amount
          }
        }]
      });
    },
    onApprove: function (data, actions) {
      return actions.order.capture().then(function (details) {
        console.log('Transaction completed by ' + details.payer.name.given_name);
        // Perform further actions, like showing a confirmation message
        const element = document.getElementById('paypal-button-container');
        element.innerHTML = '<h3>Thank you for your payment!</h3>';
        setTimeout(() => {
          document.getElementById("checkout-form").submit();
        }, 3500); //To submit form after 5 seconds so that the user can see Payment success message.

      });
    }
  }).render('#paypal-button-container'); // Replace with your button container ID
</script>
{% endblock paypal-integration %}