{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password</h3>
            <hr>
            <h5>Your password has been successfully reset. Please, Login with the new password.</h5>
        </div>
        <div class="text-center text-primary
            fw-bold">
            <a href="{% url 'login' %}" class="text-danger">Login Now</a>
        </div>
    </div>
</div>
{% endblock main-content %}